* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #E8ECEB;
   color:#2D3E4E;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}


@media (min-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-wiidth: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}


/*Navigation bar*/
/*HEADER, DISLAY: FLEX,JUSTIFY CONTENT CENTER & ALIGN-ITEM, WIDTH: 100VW
.Nav{
    color: #2D3E4E;
    font-size: 1.2rem;
}

.Nav img {
    height: 100px;
    width: 100px;
}*/

.mainForm {
    display: flex;
    justify-content: center;
}

.main {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 12rem;
}


