@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   background-color: #E8ECEB;
   color:#2D3E4E;
   font-family: 'Google+Sans:ital', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}


@media (min-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-wiidth: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.main .header {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     padding: 0 20px;
     box-sizing: border-box;
     
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;    
    padding: 20px 0;
}

.main h1 {
    font-size: 2.5rem;
}

.bookmarkIcon img {
  width: auto; 
  height: auto;
  max-width: 67px;
  max-height: 76px;
}

Button .edit {
    background-color: #8CBDB9;
    color: #2D3E4E;
    padding: 6px 16px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.1s, opacity 0.2s;
}

Button:hover {
    opacity: 0.85;
}